.card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 15px;
  margin-top: 20px;
  margin-right: 40px;
  gap: 45px;
}

.book-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.card-para {
  padding: 10px;
}

.icons-cont {
  display: flex;
  gap: 15px;
}

.icons-bg {
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #ffc75f;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon {
  height: 24px;
  width: 24px;
}

.button-icons-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.add-to-cart-btn {
  background-color: #432818;
  color: white;
  height: 40px;
  width: 160px;
  border-radius: 20px;
  border: none;
  bottom: 5px;
  cursor: pointer;
}

.star-cont {
  display: flex;
  gap: 5px;
}

.star {
  color: gold;
  height: 24px;
  width: 24px;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-text h3 {
  color: #d4a373;
}

.card-text h1 {
  color: #bb3e03;
}

.card-text p {
  color: gray;
}

.li-data {
  list-style-type: none;
}

.link-data {
  text-decoration: none;
}
